.MainPane{
    -fx-background-color: #323357;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #121220;
    -fx-min-width:850px;
    -fx-min-height:200px;
    -fx-pref-width:850px;
    -fx-pref-height:200px;
    -fx-max-width:850px;
    -fx-max-height:200px;
}
.PricePane{
    -fx-background-color: #323357;
    -fx-background-radius: 15px;
    -fx-border-color: #5d5fa3;
    -fx-border-width: 6px;
    -fx-border-radius: 20px;
}
.EditPane{
    -fx-background-color: Black;
    -fx-background-radius: 15px;
    -fx-min-width:850px;
    -fx-min-height:200px;
    -fx-pref-width:850px;
    -fx-pref-height:200px;
    -fx-max-width:850px;
    -fx-max-height:200px;
    -fx-opacity: 0;
}
.EditButton{
    -fx-background-color: gray;
    -fx-background-radius: 10px;
    -fx-font-family: candara;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-pref-width: 140px;

}
.AirportLabel{
    -fx-font-family: candara;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: white;
}
.TimeLabel{
    -fx-font-family: arial;
    -fx-font-size: 15px;
    -fx-text-fill: white;

}
.PriceLabel{
    -fx-background-color: #6a8fb3;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-font-family: arial;
    -fx-font-size: 18px;
    -fx-pref-width:365px;
    -fx-pref-height:45px;
    -fx-max-width:365px;
    -fx-max-height:45px;
    -fx-text-fill: white;
    -fx-font-weight: bold;


}
.FlightNumberLabel{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
    -fx-text-fill: white;

}
.FlightNumber{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}
.departureDate{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}
.AvailableSeats{
    -fx-background-color: #323357;
    -fx-background-radius: 20px;
    -fx-font-family: arial;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-pref-width:50px;
    -fx-pref-height:35px;
    -fx-max-width:50px;
    -fx-max-height:35px;
    -fx-alignment: center;
}
















TextField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 3;
}

PasswordField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3;
}

TextField:focused {
    -fx-border-color: #4d90fe;
}

TextField:hover {
    -fx-border-color: #a0a0a0;
}

PasswordField:focused {
    -fx-border-color: #4d90fe;
}

PasswordField:hover {
    -fx-border-color: #a0a0a0;
}


Button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-border-color: #2980b9;
    -fx-border-radius: 5;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
    -fx-padding: 8 16;
}


Button:hover {
    -fx-background-color: #2980b9;
}

Button:pressed {
    -fx-background-color: #21618c;
}






