TextField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 3;
    -fx-min-height:35px;
    -fx-max-height:35px;
    -fx-max-width:145px;

}

PasswordField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3;
     -fx-min-height:35px;
        -fx-max-height:35px;
        -fx-max-width:145px;
}

TextField:focused {
    -fx-border-color: #4d90fe;
}

TextField:hover {
    -fx-border-color: #a0a0a0;
}

PasswordField:focused {
    -fx-border-color: #4d90fe;
}

PasswordField:hover {
    -fx-border-color: #a0a0a0;
}


.button1 {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15px;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-min-height:50px;
    -fx-min-width:80px;
 }


.button1:hover {
    -fx-background-color: #dcdcdc;
    -fx-cursor:hand;
}

.button1:pressed {
    -fx-background-color: #21618c;
}
.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
Label{
-fx-font-size: 20px;
 -fx-text-fill: white;
  -fx-font-weight: bold;
}
.title{
-fx-font-size: 70px;

}
.logout{
    -fx-min-height:50px;
    -fx-min-width:80px;
}
.error {
-fx-font-size: 40px;
 -fx-text-fill: red;
}
.button2 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;

 }
 .label2{
 -fx-font-size: 70px;
 -fx-text-fill:black;
 }
.button3 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 40px;

 }
 .delete {
     -fx-background-color: #FFFFFF;
     -fx-text-fill: #000000;
     -fx-font-size: 40px;

  }
  .delete:hover {
       -fx-background-color: red;

    }

    .label123{

    -fx-font-family: candara;
        -fx-font-style: italic;
        -fx-font-weight: bold;
        -fx-font-size: 60px;
        -fx-text-fill: white;
    }
