TextField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 3;
}

PasswordField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3;
}
/*
معرفتش اصلحها
.backbutton{
-fx-pref-width: 60;
    -fx-min-width: 100;
    -fx-max-width: 200;
       -fx-min-height:45px;
}*/
TextField:focused {
    -fx-border-color: #4d90fe;
}

TextField:hover {
    -fx-border-color: #a0a0a0;
}

PasswordField:focused {
    -fx-border-color: #4d90fe;
}

PasswordField:hover {
    -fx-border-color: #a0a0a0;
}

/*
Button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-border-color: #2980b9;
    -fx-border-radius: 5;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
    -fx-padding: 8 16;
}
*/

Button:hover {
    -fx-background-color: #2980b9;
}

Button:pressed {
    -fx-background-color: #21618c;
}
.root {
    -fx-background-image: url("3386851.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

