
.hbox {
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-background-color: #f0f0f0;
}
.AirportLabel{
    -fx-font-family: candara;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
}
.PriceLabel{
    -fx-background-color: #6a8fb3;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-font-family: arial;
    -fx-font-size: 18px;
    -fx-pref-width:365px;
    -fx-pref-height:45px;
    -fx-max-width:365px;
    -fx-max-height:45px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.TimeLabel{
    -fx-font-family: arial;
    -fx-font-size: 15px;
    //-fx-text-fill: white;

}
.FlightNumberLabel{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;

}
.FlightNumber{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;


}
.totalAmount{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}
.label {
    -fx-text-fill: white;
}
.Head Label{
    -fx-text-fill: Black;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.title{
        -fx-font-family: candara;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.passenger Label{
    -fx-text-fill: Black;

}
.box{
-fx-background-color: #4a6d9e;
}
.name{
    -fx-translate-x: 165;
    -fx-translate-y: 29;
}
.id{
    -fx-translate-x: 450;
    -fx-translate-y: 29;
}
.seat{
-fx-translate-x: 668;
    -fx-translate-y: 29;
}
.panePassenger{
-fx-pref-width: 900;
    -fx-pref-height: 70;
    -fx-min-height: 70;
    -fx-max-height: 70;
}
